ManagerInterface, #View {
    background-color: transparent;
}

QScrollArea {
    background-color: transparent;
    border: none;
}

QLabel#TitleLabel {
    font: 33px 'Microsoft YaHei Light';
    background-color: transparent;
}
