QFrame#pHeader {
    border-image: url("./launcher/assets/images/startHeader.png");
}

QFrame#pBoard {
    background: transparent;
}

QScrollArea {
    background: transparent;
}
QWidget#pFolderWidgets {
    background: transparent;
}