QFrame#pHeader {
    border-image: url("./launcher/assets/images/startHeader.png");
}

QFrame#pBoard {
    background: transparent;
}

QScrollArea {
    background: transparent;
}
QWidget#pFolderWidgets {
    background: transparent;
}

QFrame#characterCard {
    background: transparent;
    border: 2px solid #505050;
    border-radius: 10px;
}