ManagerInterface, #View {
    background-color: transparent;
}

QScrollArea {
    background-color: transparent;
    border: none;
}


/* 标签 */
QLabel#TitleLabel {
    font: 33px 'Microsoft YaHei Light';
    background-color: transparent;
    color: white;
}
